# =============================================
# VARIABLES D'ENVIRONNEMENT — FitTracker
# Copie ce fichier en .env et adapte les valeurs
# =============================================

# Base de données
DB_PASSWORD=Btsinfo

# JWT — CHANGE cette clé en production !
JWT_SECRET=VotreCleSuperSecreteDeMinimum256BitsIciPourJWTStreetWorkoutApplicationSecure2024

# Environnement
NODE_ENV=production
